<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="font-size: 20px;">Candidate Detail</strong>
                </div>
                <!-- <i class="icon-close" *ngIf="candidate_type === 'Approved'" style="float: right;"
                        [routerLink]="cancel_link2"></i>
                    <i class="icon-close" *ngIf="candidate_type === 'New'" style="float: right;"
                        [routerLink]="cancel_link1"></i> -->

                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="lbl lbl_width">Name</td>
                                <td>{{candidate_detail.firstname}} {{candidate_detail.lastname}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Email</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Country</td>
                                <td>{{country}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Phone</td>
                                <td>{{candidate_detail.countrycode}} {{candidate_detail.contactno}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Document Type</td>
                                <td>{{documenttype}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Document Number</td>
                                <td>{{candidate_detail.documentNumber}}</td>
                            </tr>
                            <tr *ngIf="candidate_detail.drivingLicenseState">
                                <td class="lbl lbl_width">Driving License State</td>
                                <td>{{candidate_detail.drivingLicenseState ? candidate_detail.drivingLicenseState : '-'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Document Image</td>

                                <td *ngIf="documentImage" class="thumbnail">


                                    <p-lightbox [images]="docImages"></p-lightbox>
                                    <!--
                                    <img [src]="'http://192.168.100.11:3000/candidate_image?key=' + candidate_detail.documentimage[0]"
                                        style="width:70px; height: 50px;" /> -->
                                <td *ngIf="!documentImage">
                                    -
                                </td>
                            </tr>

                            <tr>
                                <td class="lbl lbl_width">Date Of Register</td>
                                <td>{{candidate_detail.createdAt | date: 'dd/MM/yyyy': 'utc'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="float: right;">
                        <button type="button" *ngIf="candidate_type === 'New'" class="btn btn-md btn-success"
                            (click)="approve(candidate_detail.user_id)" id="approve" [disabled]="show_spinner">Approve<i
                                *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                        <!-- <button type="button" *ngIf="approval" class="btn btn-sm btn-danger"
                            (click)="unapprove()">Unapprove</button> -->

                        <button type="button" *ngIf="candidate_type === 'Approved'" class="btn btn-md btn-danger"
                            [routerLink]="cancel_link2">Cancel</button>
                        <button type="button" *ngIf="candidate_type === 'New'" class="btn btn-md btn-danger"
                            [routerLink]="cancel_link1">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>