<header class="header static-page-header">
  <div class="container">
    <div class="d-flex">
      <div class="hirecommit-logo"><a href=""><img src="assets/img/new-logo.png" alt="" /></a></div>
      <div class="candidate-employer">
        <a href="{{candidateURL}}">Candidate</a>
        <a href="{{employerURL}}">Employer</a>
      </div>
      <div class="login-signup">
        <a href="{{mainURL + '/login'}}">Login</a>
        <span>-</span>
        <!-- <a *ngIf="isCandidate" href="http://hirecommit.com/candidate_register">Sign up</a>
                <a *ngIf="isEmployer" href="http://hirecommit.com/emp_register">Sign up</a> -->
        <a href="javascript:void(0)">Sign up</a>
      </div>
    </div>
  </div>
</header>

<section _ngcontent-ary-c2="" class="Inner-title custom-Inner-title">
  <div _ngcontent-ary-c2="" class="container">
    <h2 _ngcontent-ary-c2="">Reset Password</h2>
  </div>
</section>

<div class="app-body custom-app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <strong>Reset Password</strong>
              </div>
              <div class="card-body">
                <form [formGroup]="form" class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password">New Password</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" placeholder="Enter Password.."
                        [(ngModel)]="formData.password" name="password" formControlName="password">


                      <div class="cust_err_msg" *ngIf="!form.controls['password'].valid && isFormSubmitted">
                        <span class="text-danger"
                          *ngIf="form.controls['password'].errors['required'] || form.controls['password'].errors['whitespace']">This
                          field
                          is required.</span>
                        <span class="text-danger"
                          *ngIf="form.controls['password'].errors['minlength'] || form.controls['password'].errors['pattern'] || !form.controls['password'].errors['whitespace']">
                          Password should be 8 character long and must contain at least one lowercase and one
                          number.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="confirmpassword">Confirm New Password</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" placeholder="Enter Password.."
                        [(ngModel)]="formData.confirmpassword" name="confirmpassword" formControlName="confirmpassword">
                      <div class="cust_err_msg" *ngIf="!form.controls['confirmpassword'].valid && isFormSubmitted">
                        <span class="text-danger"
                          *ngIf="form.controls['confirmpassword'].errors['required'] || form.controls['confirmpassword'].errors['whitespace']">This
                          field is required.</span>
                        <span class="text-danger"
                          *ngIf="form.controls['confirmpassword'].errors['mismatch'] && !form.controls['confirmpassword'].errors['whitespace']">Password
                          and confirm password
                          should be same.</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary px-4" (click)="confirm(form.valid)">Confirm</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<footer class="footer">
  <div class="container">
    <div class="d-flex">
      <div class="fotoer-logo">
        <a href=""><img src="assets/img/email-logo.png" alt="" /></a>
      </div>
      <div class="quick-link">
        <h3>Company </h3>
        <a [routerLink]="['/aboutus']" target="_blank">About Us</a>
        <a [routerLink]="['/termsandcondition']" target="_blank">Terms & Condition</a>
        <a [routerLink]="['/privacypolicy']" target="_blank">Privacy policy</a>
        <a [routerLink]="['/contactus']" target="_blank">Contact Us</a>
      </div>
      <div class="quick-link">
        <h3>Quick Links</h3>
        <a href="{{candidateURL}}" target="_blank">Candidate</a>
        <a href="{{employerURL}}" target="_blank">Employer</a>
      </div>
      <div class="footer-media">
        <h3>Find Us Online</h3>
        <div class="d-flex">
          <a target="_blank" href="https://www.facebook.com/HireCommit/"><img src="assets/img/facebook.svg"
              alt="" /></a>
          <a target="_blank" href="https://twitter.com/hirecommit"><img src="assets/img/twitter.svg" alt="" /></a>
          <a target="_blank" href="https://www.linkedin.com/company/hirecommit/?viewAsMember=true"><img
              src="assets/img/linkedin.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Copyright <a [routerLink]="['/']">HireCommit</a> - 2019 All Rights Reserved.</p>
  </div>
</footer>