.offer-popup-body.modal-body h5 {
    color: #bf7a68;
    letter-spacing: 0;
    font-size: 16px;
    text-transform: none;
    margin: 20px 0px;
}
.text-decoration{
    size: 8px !important; 
    color: black !important;
    text-transform:initial !important; 
    text-align: center !important;
}
.information-popup-body-01 h5.text-decoration{ text-align:left !important;}
.information-popup-body-01 a {text-decoration: underline; margin: 0 0 10px; display: inline-block;}
p-radiobutton{line-height: 20px; vertical-align: top;}
.information-popup-body-01 label {line-height: 20px; vertical-align: top; padding: 0 0 0 5px; margin: 0;}
.back-btn-info {color: #000;background-color: #e0e0e0;border-color: #e0e0e0;}
.back-btn-info:hover{ background:#162741; color:#fff;}

// .angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button#insertImage- {
//     display: none;
// }