.candidate-signup {
  h1{
    display: block;
    font-size: 24px;
    color: #20a8d8;
    padding: 0 0 15px;
    margin: 0 0 15px;
    text-transform: uppercase;
  }
  .form-group {
    label{
      font-size:13px;
      color:#333;
      line-height:20px;
      margin:0 0 5px;
    }
    .form-control{
      color: #333;
      font-size: 13px;
      height: auto;
      &:focus{
        border-color:#e4e7ea;
        outline: 0;
        box-shadow:none;
      }
    }
    .country-code{
      flex: 0 0 23%;
    }
    .contact-number{
      flex: 0 0 77%;
    }
  }
  .card-group {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 800px;
  }
  .input-group-prepend{
    position: relative;
  }
}
.custome-checkbox{
  margin:0 0 15px;
  position: relative;
  input{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  label{
    position: relative;
    font-size:13px;
    color:#333;
    line-height:18px;
    margin:0 0 5px;
    padding:0 0 0 28px;

  }
  input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #20a8d8;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.btm-btn{
  button{
    max-width:200px;
    margin:0 auto;
  }
}

