<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong style="font-size: 20px;">Change Password</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label lbl" for="oldpassword">Old Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.oldpassword" formControlName="oldpassword" name="oldpassword"
              class="form-control" placeholder="Enter Old Password.." (blur)="checkPassword()"
              (keyup)="isTouched($event)">
            <div class="cust_err_msg" *ngIf="!form.controls['oldpassword'].valid && isFormSubmitted">
              <span class="text-danger"
                *ngIf="form.controls['oldpassword'].errors['required'] || form.controls['oldpassword'].errors['whitespace']">Old
                Password is required.</span>
              <!-- <span class="text-danger"
                *ngIf="form.controls['oldpassword'].errors['minlength'] || form.controls['oldpassword'].errors['pattern'] || !form.controls['oldpassword'].errors['whitespace']">
                Password should be 8 character long , 1 small letter and 1 number is required.</span> -->
            </div>
            <div class="cust_err_msg" *ngIf="!form.controls['oldpassword'].valid">
              <span *ngIf="form.controls['oldpassword'].errors['isExist']" class="text-danger">
                Old Password is not matched!
              </span>
            </div>
          </div>
        </div>
        <div class=" form-group row">
          <label class="col-md-3 col-form-label lbl" for="newpassword">New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.newpassword" formControlName="newpassword" name="newpassword"
              class="form-control" placeholder="Enter New Password.." (keyup)="isTouched($event)">
            <div class="cust_err_msg" *ngIf="!form.controls['newpassword'].valid && isFormSubmitted">
              <span class="text-danger"
                *ngIf="form.controls['newpassword'].errors['required'] || form.controls['newpassword'].errors['whitespace']">New
                Password is required.</span>
              <span class="text-danger"
                *ngIf="form.controls['newpassword'].errors['minlength'] || form.controls['newpassword'].errors['pattern'] || !form.controls['newpassword'].errors['whitespace']">
                Password should be 8 character long and must contain at least one lowercase and one number.</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label lbl" for="confirmnewpassword">Confirm New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.confirmnewpassword" formControlName="confirmnewpassword"
              name="confirmnewpassword" class="form-control" placeholder="Re-Enter New Password.."
              (keyup)="isTouched($event)">
            <div class="cust_err_msg" *ngIf="!form.controls['confirmnewpassword'].valid && isFormSubmitted">
              <span class="text-danger"
                *ngIf="form.controls['confirmnewpassword'].errors['required'] || form.controls['confirmnewpassword'].errors['whitespace']">Confirm
                New Password is
                required.</span>
              <span class="text-danger"
                *ngIf="form.controls['confirmnewpassword'].errors['mismatch'] && !form.controls['confirmnewpassword'].errors['whitespace']">Password
                and confirm password should
                be same.</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-right">
      <p *ngIf="!form.valid && isFormSubmitted" class="text-danger">
        Please review fields with error and Submit again.
      </p>
      <button type="button" class="btn btn-md btn-primary" (click)="submit(form.valid)" [disabled]="show_spinner">Submit
        <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>

      <!-- <button type="button" class="btn btn-md btn-danger" [routerLink]="['/employer/offers/list']">Cancel</button> -->
      <button type="button" class="btn btn-md btn-danger" id="cancelBtn" (click)="send()" [disabled]="isDisabled">
        Cancel</button>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>