<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!-- view -->
            <div class="card" *ngIf="is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">Employer Detail</strong>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="lbl lbl_width">Name</td>
                                <td>{{username}}</td>
                            </tr>
                            <!-- <tr>
                                <td class="lbl lbl_width">Last Name</td>
                                <td>{{name[1] ? name[1] : '-'}}</td>
                            </tr> -->
                            <tr>
                                <td class="lbl lbl_width">Email</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td class="lbl lbl_width">Country</td>
                                <td>{{country}}</td>
                            </tr>

                            <tr>
                                <td class="lbl lbl_width">Contact Number</td>
                                <td>{{employer_detail.countrycode}} {{employer_detail.contactno}}</td>
                            </tr>

                            <tr>
                                <td class="lbl lbl_width">Company</td>
                                <td>{{companyName}}</td>
                            </tr>

                            <tr>
                                <td class="lbl lbl_width">Website</td>
                                <td>{{website ? website : '-'}}</td>
                            </tr>

                            <tr>
                                <td class="lbl lbl_width">Bussiness Type</td>
                                <td>{{bussinessType}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="float: right;">
                        <!-- <button type="button" class="btn btn-sm btn-success" *ngIf="buttonValue != null"
                            (click)="onApproved(employer_detail.user_id._id)">{{buttonValue}}</button>
                        <button type="button" class="btn btn-sm btn-danger"
                            [routerLink]="['/admin/employers/approved_employer']">Cancel</button> -->
                        <div style="float: right;">
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-success"
                                (click)="onApprove(employer_detail.user_id)" id="approve" [disabled]="show_spinner">Approve <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                            <!-- <button type="button" *ngIf="approval" class="btn btn-sm btn-danger"
                                                        (click)="unapprove()">Unapprove</button> -->

                            <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link2">Cancel</button>
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link1">Cancel</button>
                            <!-- <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- view -->

            <!-- edit -->
            <div class="card" *ngIf="is_Edit">
                <div class="card-header">
                    <strong style="font-size: 20px;">Edit Details</strong>
                </div>
                <form [formGroup]="empForm" (ngSubmit)="Update(empForm.valid,employer_detail.user_id._id)">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label> Name</label>
                                <input class="form-control" type="text" formControlName="username" name="username"
                                    [(ngModel)]="username">
                                <div class="cust_err_msg">
                                    <span *ngIf="!empForm.get('username').valid && submitted" class="text-danger">
                                        <span
                                            *ngIf="empForm.get('username').errors['required'] || empForm.controls['username'].errors['whitespace']">This
                                            field is required.</span>
                                    </span>

                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="{{name[1] ? name[1] : '-'}}">
                        </div> -->
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" type="text" placeholder="{{email}}" formControlName="email"
                                    name="email" [(ngModel)]="email" (blur)="checkEmail()">
                                <div class="cust_err_msg">
                                    <span *ngIf="!empForm.get('email').valid && submitted" class="text-danger">
                                        <span *ngIf="empForm.get('email').errors['required'] ">This
                                            field is required.</span>
                                    </span>
                                    <div class="cust_err_msg" *ngIf="!empForm.controls['email'].valid">
                                        <span *ngIf="empForm.controls['email'].errors['pattern']"
                                            class="text-danger">Email
                                            must be in valid format.</span>
                                        <span *ngIf="empForm.controls['email'].errors['isExist']" class="text-danger">
                                            This Email address is already registered.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Country</label>
                                <input class="form-control" type="text" placeholder="{{country}}"
                                    formControlName="country" name="country" [(ngModel)]="country" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Contact Number</label>
                                <div class="number-countrycode">
                                    <input class="form-control countrycode-input" type="text"
                                        placeholder="{{employer_detail.countrycode}}" formControlName="countrycode"
                                        name="countrycode" [(ngModel)]="employer_detail.countrycode" disabled>
                                    <div class="countryno-input">
                                        <input class="form-control" type="text"
                                            placeholder="{{employer_detail.contactno}}" formControlName="contactno"
                                            name="contactno" [(ngModel)]="contactno">
                                        <div class="cust_err_msg">
                                            <span *ngIf="!empForm.get('contactno').valid && submitted"
                                                class="text-danger">
                                                <span *ngIf="empForm.get('contactno').errors['required'] ">This
                                                    field is required.</span>

                                            </span>
                                        </div>
                                        <div class="cust_err_msg">
                                            <span *ngIf="!empForm.get('contactno').valid " class="text-danger">

                                                <span *ngIf="empForm.controls['contactno'].errors['pattern']">Enter
                                                    Valid data</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="col-md-4">

                               
                            </div> -->
                            <div class="col-md-6">
                                <label>Company</label>
                                <input class="form-control" type="text" placeholder="{{companyName}}"
                                    formControlName="companyname" name="companyname" [(ngModel)]="companyName" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Website</label>
                                <input class="form-control" type="text" placeholder="{{website ? website : '-'}}"
                                    formControlName="website" name="website" [(ngModel)]="website" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Bussiness Type</label>
                                <input class="form-control" type="text" placeholder="{{bussinessType}}"
                                    formControlName="bussinesstype" name="bussinesstype" [(ngModel)]="bussinessType"
                                    disabled>
                            </div>
                        </div>
                        <div class="text-right">
                            <p *ngIf="!empForm.valid && submitted" class="text-danger">
                                Please review fields with error and Submit again.
                            </p>
                            <button type="submit" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-success"
                                [disabled]="show_spinner">Update <i *ngIf="show_spinner"
                                    class="fa fa-spinner fa-spin"></i></button>
                            <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link2">Cancel</button>
                        </div>
                    </div>
                </form>
                <!-- edit -->
            </div>
        </div>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>