<header class="header static-page-header">
  <div class="container">
    <div class="d-flex">
      <div class="hirecommit-logo">
        <a *ngIf="isCandidate" href="{{candidateURL}}"><img src="assets/img/new-logo.png" alt="" /></a>
        <a *ngIf="isEmployer" href="{{employerURL}}"><img src="assets/img/new-logo.png" alt="" /></a>
        <a *ngIf="isAdmin" href="{{mainURL}}"><img src="assets/img/new-logo.png" alt="" /></a>
      </div>
      <div class="candidate-employer">
        <a [class.active]="isCandidate" href="{{candidateURL}}">Candidate</a>
        <a [class.active]="isEmployer" href="{{employerURL}}">Employer</a>
      </div>
      <div class="login-signup">
        <!-- <a href="http://hirecommit.com/login">Login</a> -->
        <a [routerLink]="['/login']">Login</a>
        <span *ngIf="!isAdmin">-</span>
        <!-- <a href="http://hirecommit.com/candidate_register">Sign up</a> -->
        <a *ngIf="isCandidate" [routerLink]="['/candidate_register']">Sign up</a>
        <a *ngIf="isEmployer" [routerLink]="['/emp_register']">Sign up</a>
      </div>
    </div>
  </div>
</header>

<section class="header-bluepart-01 forgot-password">
  <h2><strong>Forgot Password</strong></h2>
  <form [formGroup]="form">
    <p> Enter your email and we will send you a password reset link.</p>
    <div class="form-group">
      <label>Your Recovery Email</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-envelope-letter"></i></span>
        </div>
        <input type="email" class="form-control" placeholder="Enter your recovery email.." [(ngModel)]="formData.email"
          name="email" formControlName="email" email>
        <div class="error mt-2" *ngIf="!form.controls['email'].valid && isFormSubmitted">
          <span *ngIf="form.controls['email'].errors.required">Email is required.</span>
          <span *ngIf="form.controls['email'].errors.email">Email must be in valid format.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-block btn-primary" [disabled]="show_spinner"
          (click)="sendMail(form.valid)">Send
          mail <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
      </div>
      <div class="col-6 text-right back-div">
        <button type="button" class="btn btn-link px-0" [routerLink]="['/login']"><i class="icon-logout"></i>
          Back to Login</button>
      </div>

    </div>

  </form>
</section>

<footer class="footer">
  <div class="container">
    <div class="d-flex">
      <div class="fotoer-logo">
        <a href=""><img src="assets/img/email-logo.png" alt="" /></a>
      </div>
      <div class="quick-link">
        <h3>Company </h3>
        <a [routerLink]="['/aboutus']" target="_blank">About Us</a>
        <a [routerLink]="['/termsandcondition']" target="_blank">Terms & Condition</a>
        <a [routerLink]="['/privacypolicy']" target="_blank">Privacy policy</a>
        <a [routerLink]="['/contactus']" target="_blank">Contact Us</a>
      </div>
      <div class="quick-link">
        <h3>Quick Links</h3>
        <a href="{{candidateURL}}" target="_blank">Candidate</a>
        <a href="{{employerURL}}" target="_blank">Employer</a>
      </div>
      <div class="footer-media">
        <h3>Find Us Online</h3>
        <div class="d-flex">
          <a target="_blank" href="https://www.facebook.com/HireCommit/"><img src="assets/img/facebook.svg"
              alt="" /></a>
          <a target="_blank" href="https://twitter.com/hirecommit"><img src="assets/img/twitter.svg" alt="" /></a>
          <a target="_blank" href="https://www.linkedin.com/company/hirecommit/?viewAsMember=true"><img
              src="assets/img/linkedin.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Copyright <a [routerLink]="['/']">HireCommit</a> - 2019 All Rights Reserved.</p>
  </div>
</footer>