<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <!-- add-edit -->
            <div class="card" *ngIf="!is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">{{panelTitle}} Sub Accounts</strong>


                </div>
                <form class="form-horizontal" [formGroup]="addAccount" (ngSubmit)="onSubmit(addAccount.valid)">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="username">Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Enter Name" autocomplete="username"
                                    [(ngModel)]="detail.username" formControlName="username" id="username"
                                    (keyup)="isTouched($event)">

                                <span *ngIf="!addAccount.get('username').valid && submitted" class="text-danger">
                                    <span
                                        *ngIf="addAccount.get('username').errors['required'] || addAccount.get('username').errors['whitespace']">This
                                        field is
                                        required.</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="email">Email</label>
                            <div class="col-md-4">
                                <!-- <input type="email" *ngIf="is_Edit" class="form-control" placeholder="Enter Email"
                                    autocomplete="email" [(ngModel)]="detail.email" formControlName="email" id="email"
                                    disabled> -->
                                <input type="email" class="form-control" placeholder="Enter Email" autocomplete="email"
                                    [(ngModel)]="detail.email" formControlName="email" id="email" (blur)="checkEmail()"
                                    (keyup)="isTouched($event)">

                                <span *ngIf="!addAccount.get('email').valid && submitted" class="text-danger">
                                    <span
                                        *ngIf="addAccount.get('email').errors['required'] || addAccount.get('email').errors.whitespace">This
                                        field is required.</span>
                                </span>
                                <div class="cust_err_msg" *ngIf="!addAccount.controls['email'].valid">
                                    <span *ngIf="addAccount.controls['email'].errors['pattern']"
                                        class="text-danger">Email
                                        must be in valid format.</span>
                                    <span *ngIf="addAccount.controls['email'].errors['isExist']" class="text-danger">
                                        This Email address is already registered.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="admin_rights">Admin Rights?</label>
                            <div class="col-md-6">

                                <p-inputSwitch formControlName="admin_rights" [(ngModel)]="detail.admin_rights"
                                    (onChange)="checkValue($event)">
                                </p-inputSwitch>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <p *ngIf="!addAccount.valid && submitted" class="text-danger">
                            Please review fields with error and Submit again.
                        </p>
                        <button type="submit" class="btn btn-md btn-primary" [disabled]="show_spinner">
                            <!-- <i class="fa fa-dot-circle-o"></i> -->
                            Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                        <!-- <button type="reset" class="btn btn-md btn-danger" [routerLink]="cancel_link">
                            Cancel</button> -->
                        <button type="button" class="btn btn-md btn-danger" (click)="Cancel()">
                            Cancel</button>
                        <!-- <button *ngIf="userDetail.role === 'sub-employer'" type="button" class="btn btn-md btn-danger"
                            [routerLink]="['/sub_employer/sub_accounts/list']">
                            Cancel</button>
                        <button *ngIf="userDetail.role === 'admin'" type="button" class="btn btn-md btn-danger"
                            [routerLink]="['/admin/employers/approved_employer/'+ employerID +'/sub_accounts/list']">
                            Cancel</button> -->
                    </div>
                </form>
            </div>
            <!-- add-edit -->

            <!-- view -->
            <div class="card" *ngIf="is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">View Sub Account</strong>
                </div>
                <div class="card-body detail-box" *ngIf="detail">
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label lbl lbl_width">
                            Name
                        </div>
                        <div class="col-md-6">
                            {{detail.username}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label lbl lbl_width">
                            Email
                        </div>
                        <div class="col-md-6">
                            {{detail.email}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label lbl lbl_width">
                            Admin Rights?
                        </div>
                        <div class="col-md-6 ">
                            <p-inputSwitch [(ngModel)]="detail.admin_rights" disabled="true">
                            </p-inputSwitch>
                        </div>
                    </div>
                </div>
                <div class="w-100 card-footer text-right">
                    <button *ngIf="userDetail.role === 'employer'" type="button" class="btn btn-md btn-primary"
                        [routerLink]="cancel_link">
                        Back</button>
                    <button *ngIf="userDetail.role === 'sub-employer'" type="button" class="btn btn-md btn-primary"
                        [routerLink]="['/sub_employer/sub_accounts/list']">
                        Back</button>
                    <button *ngIf="userDetail.role === 'admin'" type="button" class="btn btn-md btn-primary"
                        [routerLink]="['/admin/employers/approved_employer/'+ employerID +'/sub_accounts/list']">
                        Back</button>
                </div>
            </div>
            <!-- view -->

        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>