<div class="animated fadeIn">

    <div *ngIf="userDetail.role === 'employer'" class="row profiledata-info">
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>{{UserName}}</h2>
                        <!-- <label> Email: <a href="/">{{profileData.email}} </a></label> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Company Details</strong></div>
                            <div class="card-body">
                                <form [formGroup]="profileForm" (ngSubmit)="edit(profileForm.valid,emp_data.user_id)">
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label>Company Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="CompanyName"
                                                disabled="true" formControlName="companyname" name="companyname">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Website</label>
                                            <input type="text" class="form-control" [(ngModel)]="Website"
                                                disabled="true" formControlName="website" name="website">


                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input type="email" class="form-control" [(ngModel)]="Email"
                                                formControlName="email" name="email" (blur)="checkEmail()">
                                            <div class="cust_err_msg">
                                                <span *ngIf="!profileForm.get('email').valid && submitted"
                                                    class="text-danger">
                                                    <span *ngIf="profileForm.get('email').errors['required'] ">This
                                                        field is required.</span>

                                                </span>
                                            </div>
                                            <div class="cust_err_msg" *ngIf="!profileForm.controls['email'].valid">
                                                <span *ngIf="profileForm.controls['email'].errors['pattern']"
                                                    class="text-danger">Email
                                                    must be in valid format.</span>
                                                <span *ngIf="profileForm.controls['email'].errors['isExist']"
                                                    class="text-danger">
                                                    This Email address is already registered.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Country</label>
                                            <input type="text" class="form-control" disabled="true"
                                                [(ngModel)]="Country" formControlName="country" name="country">
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label>Business Type</label>

                                            <input type="text" [(ngModel)]="BusinessType" class="form-control"
                                                disabled="true" formControlName="bussinesstype" name="bussinesstype">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Company Person Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="UserName"
                                                formControlName="username" name="username">
                                            <div class="cust_err_msg">
                                                <span *ngIf="!profileForm.get('username').valid && submitted"
                                                    class="text-danger">
                                                    <span
                                                        *ngIf="profileForm.get('username').errors['required'] || profileForm.controls['username'].errors['whitespace']">This
                                                        field is required.</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label>Contact Number</label>
                                            <div class="number-countrycode">
                                                <input type="text" class="form-control countrycode-input" disabled=""
                                                    [(ngModel)]="CountryCode" formControlName="countrycode"
                                                    name="countrycode">
                                                <div class="countryno-input">
                                                    <input type="number" class="form-control"
                                                        [(ngModel)]="ContactNumber" formControlName="contactno"
                                                        name="contactno">
                                                    <div class="cust_err_msg">
                                                        <span *ngIf="!profileForm.get('contactno').valid && submitted"
                                                            class="text-danger">
                                                            <span
                                                                *ngIf="profileForm.get('contactno').errors['required'] ">This
                                                                field is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="cust_err_msg">
                                                        <span *ngIf="!profileForm.get('contactno').valid"
                                                            class="text-danger">

                                                            <span
                                                                *ngIf="profileForm.controls['contactno'].errors['pattern']">Enter
                                                                10 digits of mobile number.</span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-row mb-12">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="show_spinner">Submit
                                                <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                                            <button type="button" class="btn btn-danger" (click)='cancel()'
                                                [disabled]="isCancelDisable">Close</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //candidate -->
    <div *ngIf="userDetail.role === 'candidate'" class="row profiledata-info">
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>{{FirstName}} {{LastName}}</h2>
                        <!-- <label> Email: <a href="/">{{profileData.email}} </a></label> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Personal Details</strong></div>
                            <form [formGroup]="CandidateForm"
                                (ngSubmit)="candidate_profile(CandidateForm.valid,candidate_data.user_id)">
                                <div class="card-body">
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label class="lbl">First Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="FirstName"
                                                formControlName="firstname" name="firstname">

                                            <div class="cust_err_msg">
                                                <span *ngIf="!CandidateForm.get('firstname').valid && submitted"
                                                    class="text-danger">
                                                    <span
                                                        *ngIf="CandidateForm.get('firstname').errors['required'] || profileForm.controls['firstname'].errors['whitespace']">This
                                                        field is required.</span>
                                                </span>

                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <label class="lbl">Last Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="LastName"
                                                formControlName="lastname" name="lastname">
                                            <div class="cust_err_msg">
                                                <span *ngIf="!CandidateForm.get('lastname').valid && submitted"
                                                    class="text-danger">
                                                    <span
                                                        *ngIf="CandidateForm.get('lastname').errors['required'] || profileForm.controls['lastname'].errors['whitespace']">This
                                                        field is required.</span>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label class="lbl">Country</label>
                                            <input type="text" class="form-control" disabled="true"
                                                [(ngModel)]="Candidate_Country" formControlName="candidatecountry"
                                                name="candidatecountry">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input type="email" class="form-control" [(ngModel)]="Candidate_Email"
                                                formControlName="candidate_email" name="candidate_email"
                                                (blur)="checkEmail()">
                                            <div class="cust_err_msg">
                                                <span *ngIf="!CandidateForm.get('candidate_email').valid && submitted"
                                                    class="text-danger">
                                                    <span
                                                        *ngIf="CandidateForm.get('candidate_email').errors['required'] ">This
                                                        field is required.</span>
                                                </span>
                                            </div>
                                            <div class="cust_err_msg"
                                                *ngIf="!CandidateForm.controls['candidate_email'].valid">
                                                <span
                                                    *ngIf="CandidateForm.controls['candidate_email'].errors['pattern']"
                                                    class="text-danger">Email
                                                    must be in valid format.</span>
                                                <span
                                                    *ngIf="CandidateForm.controls['candidate_email'].errors['isExist']"
                                                    class="text-danger">
                                                    This Email address is already registered.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-12 contact-number-field">
                                            <label class="lbl">Contact Number</label>
                                            <div class="number-countrycode">
                                                <input type="text" class="form-control countrycode-input"
                                                    disabled="true" value="{{Candidate_CountryCode}}"
                                                    formControlName="candidate_countrycode"
                                                    name="candidate_countrycode">
                                                <div class="countryno-input">
                                                    <input type="text" class="form-control countryno-input"
                                                        [(ngModel)]="Candidate_ContactNo"
                                                        formControlName="candidate_contactno"
                                                        name="candidate_contactno">
                                                    <div class="cust_err_msg">
                                                        <span
                                                            *ngIf="!CandidateForm.get('candidate_contactno').valid && submitted"
                                                            class="text-danger">
                                                            <span
                                                                *ngIf="CandidateForm.get('candidate_contactno').errors['required'] ">This
                                                                field is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="cust_err_msg">
                                                        <span *ngIf="!CandidateForm.get('candidate_contactno').valid"
                                                            class="text-danger">
                                                            <span
                                                                *ngIf="CandidateForm.controls['candidate_contactno'].errors['pattern']">Enter
                                                                10 digit contact number.
                                                            </span>
                                                        </span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6">
                                            <label class="lbl">Document Type</label>
                                            <input type="text" class="form-control" disabled="true"
                                                [(ngModel)]="DocumentType" formControlName="documenttype"
                                                name="documenttype">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="lbl">Document Number</label>
                                            <input type="text" class="form-control" disabled="true"
                                                [(ngModel)]="DocumentNumber" formControlName="documentNumber"
                                                name="documentNumber">
                                        </div>
                                    </div>
                                    <div class="form-row mb-3" *ngIf="DrivingLicenseState">
                                        <div class="col-md-12">
                                            <label class="lbl">Driving License State</label>
                                            <input type="text" class="form-control" disabled="true"
                                                [(ngModel)]="DrivingLicenseState" formControlName="drivingLicenseState"
                                                name="drivingLicenseState">
                                        </div>
                                    </div>
                                    <!-- formControlName="documentimage"
                                                name="documentimage" -->
                                    <div class="form-row mb-3">
                                        <div class="col-md-12">
                                            <label class="lbl">Document Image</label>
                                            <!-- <img src="{{image + DocumentImage}}" disabled="true" class="form-control"
                                                style="height: 100px; width:100px;"> -->

                                            <div class="thumbnail" *ngIf="isDoc">

                                                <p-lightbox [images]="DocumentImage"></p-lightbox>
                                            </div>
                                            <div *ngIf="!isDoc">
                                                <p><b>-</b></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-12 text-right">
                                            <!-- <button type="submit" class="btn btn-primary"
                                                [disabled]="show_spinner">Submit <i *ngIf="show_spinner"
                                                    class="fa fa-spinner fa-spin"></i></button> -->
                                            <button type="submit" class="btn btn-primary"
                                                [disabled]="show_spinner">Submit
                                                <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                                            <button type="button" class="btn btn-danger" (click)='cancel1()'
                                                [disabled]="isCancelDisable">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <!-- //sub-employer -->
    <!--
    <div *ngIf="userDetail.role === 'sub-employer'" class="row profiledata-info">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.valid)">
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <label>Name </label><br>
                        <label> Email </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Personal Details</strong></div>
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Country</td>
                                            <td>
                                                 <p-dropdown [options]="countryList" placeholder="Select Country"
                                                        formControlName="country" [(ngModel)]="profileForm.country"
                                                        id="country" (onChange)="getCode($event)" [required]>
                                                    </p-dropdown>
                                              <div class="error"
                                                        *ngIf="!profileForm.controls['country'].valid && isFormSubmitted">
                                                        <span
                                                            *ngIf="profileForm.controls['country'].errors['required']">This
                                                            field is required.</span>
                                                    </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Contact Number</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Document Type</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Document Image</td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div> -->