<header class="header static-page-header">
    <div class="container">
        <div class="d-flex">
            <div class="hirecommit-logo"><a href=""><img src="assets/img/new-logo.png" alt="" /></a></div>
            <div class="candidate-employer">
                <a href="{{candidateURL}}">Candidate</a>
                <a class="active">Employer</a>
            </div>
            <div class="login-signup">
                <!-- <a href="http://hirecommit.com/login">Login</a> -->
                <a [routerLink]="['/login']">Login</a>
                <span>-</span>
                <!-- <a href="http://hirecommit.com/emp_register">Sign up</a> -->
                <a [routerLink]="['/emp_register']">Sign up</a>
            </div>
        </div>
    </div>
</header>



<div class="static-page">
    <section class="header-bluepart">
        <div class="container">
            <div class="d-flex">
                <div class="header-bluepart-l">
                    <h1>
                        <small>{{header_bluepart.main_heading_1}}</small><strong>
                            {{header_bluepart.main_heading_2}}</strong> <br />
                        <small>{{header_bluepart.main_heading_3}}</small><strong>
                            {{header_bluepart.main_heading_4}}</strong>
                    </h1>
                    <div class="sign-up-form">
                        <form class="d-flex" [formGroup]="landingForm">
                            <input type="text" name="" formControlName="email" name="email"
                                placeholder="Enter your work email" />
                            <button type="submit" (click)="signup(landingForm.value)">Sign up now</button>
                        </form>
                    </div>
                    <!-- {{response | json}} -->
                    <h4>{{header_bluepart.content_1}}</h4>
                    <h4> {{header_bluepart.content_2}}</h4>
                </div>
                <div class="header-bluepart-r">
                    <img src="{{API_URL + 'images/landing_page/' + header_bluepart.image}}" alt="" />
                </div>
            </div>
        </div>
    </section>


    <section class="structured-automated">
        <div class="container">
            <div class="d-flex">
                <div class="structured-automated-l">
                    <h2 class="mobile-view">
                        <strong>{{structured_automated.heading_1}} </strong>
                        <small>{{structured_automated.heading_2}}</small>
                    </h2>
                    <img src="{{API_URL + 'images/landing_page/' + structured_automated.image}}" alt="" />
                </div>
                <div class="structured-automated-r">
                    <h2 class="mobileview-none">
                        <strong>{{structured_automated.heading_1}}</strong>
                        <small>{{structured_automated.heading_2}}</small>
                    </h2>
                    <p>{{structured_automated.content_1}}
                    </p>
                    <p>{{structured_automated.content_2}}</p>
                    <p>{{structured_automated.content_3}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="advance-alerts">
        <div class="container">
            <div class="advance-alerts-bg d-flex">
                <h2><strong>{{advance_alerts.heading_1}}</strong> <small>{{advance_alerts.heading_2}}</small></h2>
                <p>{{advance_alerts.content_1}} <br />
                    {{advance_alerts.content_2}}<br />
                    {{advance_alerts.content_3}}</p>
            </div>
        </div>
    </section>

    <section class="boxes-section">
        <div class="container">
            <ul class="d-flex">
                <li>
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + signup_for_free.image}}" alt="" /></span>
                        <h3>{{signup_for_free.heading_1}}</h3>
                        <p>{{signup_for_free.content_1}}</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + one_time_setup.image}}" alt="" /></span>
                        <h3>{{one_time_setup.heading_1}}</h3>
                        <p>{{one_time_setup.content_1}}</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + send_offer_to_candidate.image}}"
                                alt="" /></span>
                        <h3>{{send_offer_to_candidate.heading_1}}</h3>
                        <p>{{send_offer_to_candidate.content_1}}</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + candidate_accept.image}}" alt="" /></span>
                        <h3>{{candidate_accept.heading_1}}</h3>
                        <p>{{candidate_accept.content_1}}</p>
                    </div>
                </li>
                <li class="monitor-alerts-li">
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + monitor_alert_communication.image}}"
                                alt="" /></span>
                        <h3>{{monitor_alert_communication.heading_1}}</h3>
                        <p>{{monitor_alert_communication.content_1}}</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="{{API_URL + 'images/landing_page/' + candidate_joins.image}}" alt="" /></span>
                        <h3>{{candidate_joins.heading_1}}</h3>
                        <p>{{candidate_joins.content_1}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-security">
        <div class="container">
            <div class="d-flex">
                <div class="data-security-l">
                    <h2 class="mobile-view">
                        <strong>{{data_security.heading_1}} <br />{{data_security.heading_2}}</strong>
                    </h2>
                    <img src="{{API_URL + 'images/landing_page/' + data_security.image}}" alt="" />
                </div>
                <div class="data-security-r">
                    <h2 class="mobileview-none">
                        <strong>{{data_security.heading_1}}<br />{{data_security.heading_2}}</strong>
                    </h2>
                    <p>{{data_security.content_1}}</p>
                </div>
            </div>
        </div>
    </section>


    <section class="transparency">
        <div class="container">
            <div class="transparency-bg d-flex">
                <h2><small>{{transparency.heading_1}}</small><strong> {{transparency.heading_2}}</strong></h2>
                <p>{{transparency.content_1}} <br />
                    {{transparency.content_2}} </p>
            </div>
        </div>
    </section>

    <section class="support-identity">
        <div class="container">
            <div class="d-flex">
                <div class="support-identity-l">
                    <h2 class="mobile-view">
                        <small>{{support_identity.heading_1}}</small>
                        <strong> {{support_identity.heading_2}}</strong>
                    </h2>
                    <img src="{{API_URL + 'images/landing_page/' + support_identity.image}}" alt="" />
                </div>
                <div class="support-identity-r">
                    <h2 class="mobileview-none">
                        <small>{{support_identity.heading_1}}</small>
                        <strong> {{support_identity.heading_2}}</strong>
                    </h2>
                    <p>{{support_identity.content_1}}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="container">
        <div class="d-flex">
            <div class="fotoer-logo">
                <a href=""><img src="assets/img/email-logo.png" alt="" /></a>
            </div>
            <div class="quick-link">
                <h3>Company </h3>
                <a [routerLink]="['/aboutus']" target="_blank">About Us</a>
                <a [routerLink]="['/termsandcondition']" target="_blank">Terms & Condition</a>
                <a [routerLink]="['/privacypolicy']" target="_blank">Privacy policy</a>
                <a [routerLink]="['/contactus']" target="_blank">Contact Us</a>
            </div>
            <div class="quick-link">
                <h3>Quick Links</h3>
                <a href="{{candidateURL}}" target="_blank">Candidate</a>
                <a href="{{employerURL}}" target="_blank">Employer</a>
            </div>
            <div class="footer-media">
                <h3>Find Us Online</h3>
                <div class="d-flex">
                    <a target="_blank" href="https://www.facebook.com/HireCommit/"><img src="assets/img/facebook.svg"
                            alt="" /></a>
                    <a target="_blank" href="https://twitter.com/hirecommit"><img src="assets/img/twitter.svg"
                            alt="" /></a>
                    <a target="_blank" href="https://www.linkedin.com/company/hirecommit/?viewAsMember=true"><img
                            src="assets/img/linkedin.svg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© Copyright <a [routerLink]="['/']">HireCommit</a> - 2019 All Rights Reserved.</p>
    </div>
</footer>