<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <!-- view -->
            <div class="card">
                <div class="card-header">
                    <strong style="font-size: 20px;">View Group</strong>
                </div>
                <div class="card-body detail-box" *ngIf="groupData">
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label lbl">
                            <h5>Name</h5>
                        </div>
                        <div class="col-md-6 detail-input">
                            {{groupData.name}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            <h5>Commit Status</h5>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            High - UnOpened
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.high_unopened}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            High - NotReplied
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.high_notreplied}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            Medium - UnOpened
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.medium_unopened}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            Medium - NotReplied
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.medium_notreplied}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            Low - UnOpened
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.low_unopened}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-4 col-md-3 lbl">
                            Low - NotReplied
                        </label>
                        <div class="input-group col-md-2">
                            <div class="form-control">
                                {{groupData.low_notreplied}}
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Days</span>
                            </div>
                        </div>
                    </div> -->

                    <!-- communication -->
                    <div class="row" *ngIf="communicationData">
                        <div class="col-md-12 mt-3" *ngFor="let communication of communicationData;  let i = index">
                            <div class="card">
                                <div class="card-header h5">Record - {{i+1}} </div>
                                <div class="card-body">
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">
                                            Communication Name
                                        </label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.communicationname}}
                                        </div>
                                        <label class="col-md-2 detail-label">Priority</label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.priority}}
                                        </div>
                                    </div>
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">Trigger</label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.trigger}}
                                        </div>
                                        <label class="col-md-2 detail-label">
                                            -
                                        </label>
                                        <div class="col-md-4 detail-input d-flex">
                                            <div class="input-group">
                                                {{communication.day}}
                                            </div>
                                            <span class="input-group-text">Day(s)</span>
                                            <!-- <div class="input-group-append">
                                        </div> -->
                                        </div>
                                    </div>

                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">Subject</label>
                                        <div class="col-md-6 detail-input">
                                            {{communication.subject}}
                                        </div>
                                    </div>
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">Message</label>
                                        <div class="col-md-9 detail-input">
                                            <!-- <ckeditor [editor]="Editor" [disabled]="true"
                                                [(ngModel)]="communication.message"
                                                [ngModelOptions]="{standalone: true}">
                                            </ckeditor> -->
                                            <div>
                                                <div [ngxSummernote]="config" #editor
                                                    [(ngModel)]="communication.message" id="editor" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- communication -->
                </div>
                <div class="w-100 card-footer text-right">
                    <button *ngIf="userDetail.role === 'employer'" type="button" class="btn btn-md btn-primary"
                        [routerLink]="cancel_link">
                        Back</button>
                    <button *ngIf="userDetail.role === 'sub-employer'" type="button" class="btn btn-md btn-primary"
                        [routerLink]="['/sub_employer/groups/list']">
                        Back</button>

                </div>
            </div>
            <!-- view -->
        </div>
    </div>
</div>