@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');

*{ margin:0; padding:0;}

.static-page{font-family:'Raleway'; margin:0; padding:0;}
.header-bluepart-l h1, .static-page h2, .static-page h3, .static-page h4, .static-page h5, .static-page h6, .static-page p{font-family:'Raleway';}
.static-page input, .static-page select, .static-page textarea, .static-page button{font-family:'Raleway';}

.header-bluepart-l h1{margin:0 0 40px; padding:0; font-size:32px; text-transform:uppercase; display:block;}
.header-bluepart-l h1 strong{ font-weight:800; color:#bf7a68;}
.header-bluepart-l h1 small{ font-weight:400; color:#fff; font-size:32px;}

.static-page h2{margin:0 0 40px; padding:0; font-size:26px; text-transform:uppercase; display:block;}
.static-page h2 strong{ font-weight:800; color:#bf7a68;}
.static-page h2 small{ font-weight:400; color:#666; font-size:26px;}

.static-page p{ color:#000; font-weight:400; line-height:28px; display:block; font-size:18px; margin:0; padding:0;}
.static-page p + p{ margin-top:40px;}

.static-page h3{ margin:0 0 10px; padding:0; color:#000; line-height:30px; font-weight:700; font-size:20px; display:block; text-transform:uppercase;}

.static-page .structured-automated h2 strong{ display:block;}

.static-page-header .container,
.static-page .container {max-width: 1140px;}
/***** Header css *****/
header.header {padding:36px 0 0; z-index:10; position: relative;}
.hirecommit-logo { margin:-25px 0 -25px -32px;}
.hirecommit-logo a img {max-width: 200px;}
header .d-flex {background: #fff;max-height:60px;border-radius:4px;margin:25px 0 25px 30px; align-items:center; position:relative;}
.login-signup {margin: 0 0 0 auto; max-width:256px; background:#bf7a68; border-radius:0 4px 4px 0;  width: 100%; text-align:center;}
.login-signup a{ color: #fff; font-weight:400; font-size: 18px; line-height: normal; padding:18px 5px; text-transform: uppercase; display: inline-block;}
.login-signup a:hover{ text-decoration:underline; color:#fff;}
.login-signup span{ color:#fff; padding:17px 15px 19px 15px; line-height: 24px; vertical-align: top; display: inline-block;}
.candidate-employer{ position: absolute; top: -40px; right: 0; max-width: 256px; width: 100%; text-align: center;}
.candidate-employer a{ color: #fff !important; font-size: 16px; font-weight: 500; text-decoration: none; text-transform: uppercase; margin: 0 15px;  display: inline-block; vertical-align: top; letter-spacing: .04em; position:relative;}
.candidate-employer a:hover,
.candidate-employer a.active{ text-decoration:underline !important; color:#bf7a68 !important;}
.candidate-employer a:hover:before,
.candidate-employer a.active:before {width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #bf7a68;content: '';position: absolute;top: 30px;left: 50%;transform: translateX(-50%);}


/**** header blue part *****/
section.header-bluepart {background: #162741;margin: -157px 0 100px;padding:210px 0 50px;}
section.header-bluepart .d-flex{align-items: flex-end;}
.header-bluepart-l{ width:57%;}
.header-bluepart-l h4{ color:#fff; font-weight:400; line-height:28px; display:block; font-size:20px; margin:0; padding:0;}
.header-bluepart-l h4 + h4{ margin-top:40px;}
.header-bluepart-l p{ color:#333;} 
.header-bluepart-r{ margin:0 0 -80px auto; width:42%; text-align:right; position:relative;}
.header-bluepart-r:before{    content: ''; position: absolute; left: 50%; transform: translateX(-50%); background: rgba(255,255,255,.03); border-radius: 100%; width: 80%; height: 100%; top: -100px;}
.header-bluepart-r img{ max-width:100%; border-radius: 4px;box-shadow: 0 0 30px 0 rgba(0,0,0,.3);}
 
.sign-up-form{ margin:0 0 45px;}
.sign-up-form form{ margin:0;}
.sign-up-form input{ background:#fff; border-radius:4px; border:0; max-width:330px; width:100%; padding:15px; line-height:26x; color:#999; font-size:14px; font-weight:400; margin:0 10px 0 0; }
.sign-up-form button{ background:#bf7a68; border:2px solid #bf7a68; color:#fff; width:132px; text-align:center; padding:13px 15px; line-height:21px; color:#fff; font-weight:600; font-size:14px; border-radius:4px;     text-transform:uppercase;}
.sign-up-form button:hover{ background:transparent; color:#bf7a68;}

/**** structured-automated *****/
.structured-automated .d-flex{ align-items:center;}
.structured-automated{ margin:0 0 80px;}
.structured-automated-l{ width:46%;}
.structured-automated-l img{ border-radius:4px; max-width:100%;}
.structured-automated-r{ width:54%;}
.structured-automated-r h2 {margin: 0 0 20px;}
.structured-automated-r p + p {margin-top: 20px;}

/***** advance-alerts *****/
.advance-alerts{ margin:0 0  80px;}
.advance-alerts-bg{background:url(../assets/img/employer-img03.jpg) no-repeat 0 0; min-height:328px; text-align: center; align-items:center; flex-direction:column;justify-content: center; border-radius:4px;}
.advance-alerts-bg h2 strong{ display:block;}
.advance-alerts-bg h2 small{ color:#fff;}
.advance-alerts-bg h2{margin:0 0 20px;}
.advance-alerts-bg h2, .advance-alerts-bg p{ color:#fff;}


/***** boxes *****/
.boxes-section{ margin:0 auto 50px;}
.boxes-section ul{ margin:0 -15px; padding:0; list-style:none; flex-wrap:wrap;}
.boxes-section ul li{ width:calc(33.33% - 30px); margin:0 15px 30px; background:#fff; border-radius:4px; box-shadow:0 0 20px 0 rgba(0,0,0,.1); padding:30px;}
.boxes-section-div span{ display:block; margin:0 0 20px;}
.boxes-section-div h3 { margin:0 0 15px;}

.boxes-section ul.four-box li{width:calc(25% - 30px); }

/***** data-security *****/
.data-security { margin:0 0 80px;}
.data-security .d-flex{ align-items:center; flex-direction:row-reverse;}
.data-security-l{ width:60%; text-align:right;}
.data-security-l img{ border-radius:4px; max-width:100%;}
.data-security-r h2{ margin-bottom:20px;}
.data-security-r{ width:35%; margin:0 auto 0 0;}


/***** advance-alerts *****/
.transparency{margin:0 0 80px;}
.transparency-bg{background:url(../assets/img/employer-img05.jpg) no-repeat 0 0; min-height:284px; text-align: center; align-items:center; flex-direction:column;justify-content: center; border-radius:4px;}
.transparency-bg h2 strong{ display:block;}
.transparency-bg h2 small{ color:#fff;}
.transparency-bg h2{margin:0 0 20px;}
.transparency-bg h2, .transparency-bg p{ color:#fff;}

/***** support identity *****/
.support-identity { margin:0 0 80px;}
.support-identity .d-flex{ align-items:center; }
.support-identity-l{ width:50%;}
.support-identity-l img{ border-radius:4px; max-width:100%;}
.support-identity-r h2{ margin-bottom:20px;}
.support-identity-r h2 small{ display:block;}
.support-identity-r{ width:48%; margin:0 0 0 auto;}


/***** Footer *****/
.footer { padding:60px 0 0; border-top:8px solid #bf7a68; background:#162741;}

.fotoer-logo {width: 33%; text-align: left; position: relative; padding: 0 50px 0 0;}
.fotoer-logo img{ max-width:100%;}
/* .fotoer-logo:before, .fotoer-logo:after {content: '';width: 1px;height: 60%;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: #3d434c;}
.fotoer-logo:after {left:4px;} */

.quick-link{ width:26%; position:relative; padding:0 0 0 50px;}
/* .quick-link:before, .quick-link:after {content: '';width: 1px;height: 60%;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background: #3d434c;}
.quick-link:after {left:4px;} */
.quick-link h3 {display: block;font-size: 18px;color: #fff;margin: 0 0 15px;}
.quick-link a {display: block;font-size: 14px;line-height: normal;color:rgba(255, 255, 255, .5); text-decoration:none; margin:0 10px 0 0;}
.quick-link a + a{ margin-top:10px;}
.quick-link a:hover{color:#bf7a68;}

.footer-media {margin:0 0 0 auto; width:auto; position:relative; padding:0;}
/* .footer-media:before, .footer-media:after {content: ''; width: 1px; height: 60%; position: absolute; top: 50%; left: 0;  transform: translateY(-50%); background: #3d434c;}
.footer-media:after {left:4px;} */

.footer-media h3 {display: block;font-size: 18px;color: #fff;margin: 0 0 15px;}
.footer-media a {margin:0 10px 0 0;}
.footer-media a img{ width:30px;}

.copyright{ padding:15px 15px 20px; border-top:1px solid rgba(255, 255, 255, .1); margin:40px 0 0;}
.copyright p{ padding: 0; font-weight: 400; font-size: 12px; color: #9fa2a7; line-height: normal;display:block; text-align:center; margin:0;}
.copyright p a{ text-decoration:underline; color:#bf7a68;}
.copyright p a:hover{ text-decoration:none;}
.copyright>a{ color:#666; font-size:13px; font-weight:600; line-height:100%; margin:0 10px 0 0; text-transform:uppercase;}
.copyright>a:hover{ text-decoration:none; color:#bf7a68;}




.mobile-view{ display:none !important;}
.boxes-section ul li:nth-child(2n+2) .boxes-section-div h3{ color:#bf7a68;}

.header-bluepart-01{ position:relative; padding:50px 0 100px;}
.header-bluepart-01 h2 {display: block; text-align: center; font-size:36px; color:#fff; margin:0 0 40px;}
.header-bluepart-01 h2 strong{ color:#bf7a68;}
.header-bluepart-01 h2 small{ display:block; font-size:16px; text-transform: uppercase;}
.header-bluepart-01 form{ background:#fff; border-radius:4px; padding:40px; max-width:450px; margin:0 auto;}
.header-bluepart-01:before {background: #162741; margin:-156px auto 0; padding: 180px 0 0; position: absolute; top: 0;
left: 0; content: ''; height:435px; width: 100%; z-index:-1; border-bottom:8px solid #bf7a68;}
.header-bluepart-01 form{ position:relative;}
.header-bluepart-01 form:before {content:''; width:0; height:0; border-left:16px solid transparent; border-right:16px solid transparent;
border-bottom:16px solid #fff; position:absolute; top:-15px; left:50%; transform:translateX(-50%); }
.header-bluepart-01 .btn.btn-link{ color:#666; text-decoration:underline;}
.header-bluepart-01 .btn.btn-link:hover{ color: #bf7a68; text-decoration:none;}
.header-bluepart-01  .btn-primary {background-color: #162741; border-color: #162741;}
.header-bluepart-01  .btn-primary:hover{ background-color: #bf7a68; border-color: #bf7a68;}
.header-bluepart-01 input:-webkit-autofill,
.header-bluepart-01 input:-webkit-autofill:hover, 
.header-bluepart-01 input:-webkit-autofill:focus,
.header-bluepart-01 textarea:-webkit-autofill,
.header-bluepart-01 textarea:-webkit-autofill:hover,
.header-bluepart-01 textarea:-webkit-autofill:focus,
.header-bluepart-01 select:-webkit-autofill,
.header-bluepart-01 select:-webkit-autofill:hover,
.header-bluepart-01 select:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s;}

.new-signup.header-bluepart-01 form{ max-width:700px;}
.new-signup.header-bluepart-01 .country-code {width: 25%;}
.new-signup.header-bluepart-01 .contact-number {width:75%;}
.new-signup.header-bluepart-01 .ui-dropdown{ width:100%;}
body .new-signup.header-bluepart-01 .custome-checkbox label {line-height: 15px;margin: 0; vertical-align:top; padding:0 0 0 6px;}
.new-signup.header-bluepart-01 .input-group-prepend .input-group-text{ height:35px;}
.header-bluepart-01 .form-group label {display: block;color: #666; margin:0 0 4px; padding:0; font-size: 13px;}
.header-bluepart-01 .back-div button{color:#666; text-decoration:none;}
.header-bluepart-01 .back-div button:hover{ color:#bf7a68;}
.header-bluepart-01.new-signup .documentimage input.form-control {padding:3px; border-radius:0 4px 4px 0;}
.header-bluepart-01.new-signup .email-id-div input.form-control {border-radius:0 4px 4px 0;}
.header-bluepart-01.new-signup  button.step-trigger{ padding:0;}
.header-bluepart-01.new-signup .bs-stepper-content form{ padding:20px 0 0;}
.header-bluepart-01.new-signup .bs-stepper-content{ padding:0 20px;}
.header-bluepart-01.new-signup  .step-form-btn {margin:10px 0 0;}
.header-bluepart-01.new-signup .msg{ color:#a7a7a7; font-size: 100%; display: inline;margin: 0;font-family: inherit;}
.header-bluepart-01.new-signup .country-code-box-wrap .d-flex {width: 100%;}
.ui-dropdown-label-container label.ui-dropdown-label{padding:0.429em;}
.forgot-password .btn-primary{ max-width:110px;}
.communication-fills .card-header button {padding: 2px 20px; font-size: 14px;line-height: 24px;}

.privaypolicy-body{ display:block;}
.privaypolicy-body + .privaypolicy-body{ margin-top:30px; border-top:1px dashed #999; padding-top:30px;}
.privaypolicy-body h3{ font-family:'Raleway'; font-size:22px; line-height:normal; display:block; margin:0 0 15px; padding:0; color:#bf7a68; text-transform:uppercase; font-weight:800;}
.privaypolicy-body h3 small{ font-size:18px; display:block; color:#162741; margin:10px 0 0;font-weight:500;}
.privaypolicy-body p{ font-size:14px; color:#000; line-height:22px; margin:0; padding:0; display:block; font-family:'Raleway'; font-weight:500;}
.privaypolicy-body p + p{ margin-top:14px;}
.privaypolicy-body p a{ color:#bf7a68; text-decoration:underline;}
.privaypolicy-body p a:hover{ text-decoration:none;}
.privaypolicy-body ul li{font-size:14px; color:#000; line-height:22px; margin:0; padding:0; font-family:'Raleway'; font-weight:500;}
.privaypolicy-body ul li + li{ margin-top:10px;}
.hereby-confirm{ margin:25px 0;}
.hereby-confirm h4{ font-family:'Raleway'; font-size:20px; line-height:normal; display:block; margin:0; padding:0; color:#bf7a68; text-transform:uppercase; font-weight:800; text-decoration:underline;}

.map-div{ position:relative; margin:30px 0;}
.map-div iframe{ width:100%; border:14px solid #fff; box-shadow:0 0 30px 0 rgba(0,0,0,.05); box-sizing:border-box;}
.workspace{ background:#fff; padding:30px; position:absolute; top:30px; right:30px; max-width:270px;}
.workspace h3{ font-family:'Raleway'; font-size:22px; line-height:normal; display: block; margin:0 0 10px; padding: 0; color: #bf7a68; text-transform:uppercase; font-weight:800;}
.workspace h4{ font-family:'Raleway'; margin:0 0 10px; padding:0; font-size:18px; display:block; color:#162741;}
.workspace h4 small{ display:block;}
.workspace p{ font-size:14px; color:#000; line-height:22px; margin:0; padding:0; display:block; font-family:'Raleway'; font-weight:500;}
.workspace p strong{color: #bf7a68; font-weight:500;}
.workspace p + p{ padding-top:14px;}
.need-assistance{ display:block;}
.need-assistance{ margin:0 0 30px;}
.need-assistance p{ font-size:14px; color:#000; line-height:22px; margin:0; padding:0; display:block; font-family:'Raleway'; font-weight:500;}
.need-assistance p a{ color:#bf7a68; text-decoration:underline;}
.need-assistance p a:hover{ text-decoration:none;}
.privaypolicy-body ul.disc {margin:26px 0 25px 30px;}

.Inner-title{ background:#162741; margin:-156px auto 40px; padding:200px 0 0; height:300px; width: 100%; z-index: -1; border-bottom:8px solid #bf7a68;}
.Inner-title h2{ margin:0; padding:0; display:block; font-size:30px; text-transform:uppercase; color:#fff; line-height:100%;}
.Inner-title small{ font-size: 14px; color:#e2e4e6; display:block; margin:4px 0 0 3px;}
.viewoffers-info h3{ margin:0 0 15px; padding:0; display:block; font-size:16px; line-height:normal; color:#bf7a68;}




/***** Media start *****/
@media(min-width:768px) and (max-width:1099px){
    .boxes-section-div { position:relative;}
    .boxes-section-div span {display:block; margin:0; position:absolute; top:0; left:0;}
    .boxes-section-div h3 {height:50px; display: flex;align-items: center;padding: 0 0 0 65px;line-height: normal;margin: 0 0 20px;max-width: 252px;}
    li.monitor-alerts-li .boxes-section-div h3{ word-break:break-all;}
    .boxes-section-div span img {max-height: 50px;}
    
} 
@media(max-width:1099px){
    .header-bluepart-l h1 {margin: 0 0 30px; font-size: 32px;}
    .header-bluepart-l h1 small {font-size: 32px;}
    .header-bluepart-l h4 {line-height: 26px;  font-size:18px; }
    section.header-bluepart { padding: 180px 0 30px;}
    .structured-automated-r {width: 54%;padding-left: 40px;}
    .static-page h2 small, .static-page h2 {font-size: 28px;}
    .data-security-l img{ max-width:100%;}
    .boxes-section ul.four-box li{width:calc(50% - 30px); }
}    

@media(max-width:1024px){
    .header-bluepart-l h1 {margin: 0 0 20px; font-size: 30px;}
    .header-bluepart-l h1 small {font-size: 30px;}
    .sign-up-form { margin:0 0 20px;}
    .static-page p {line-height: 26px;font-size: 16px;}
    .static-page p + p {margin-top: 20px;}
    .boxes-section ul li {width: calc(50% - 30px);}
    
}

@media(max-width:991px){
    section.header-bluepart .d-flex {flex-wrap: wrap;}
    .header-bluepart-l {width: 100%;padding: 0 20px 20px;}
    .header-bluepart-r { margin:0 auto -80px auto; width: auto; text-align:center; position:relative; display: inline-block;}
    .structured-automated .d-flex {flex-wrap: wrap;    align-items: end;}
    .boxes-section ul li {width: calc(50% - 30px);}
    .static-page h2 small, .static-page h2 {font-size: 26px;}
    .structured-automated-r h2 {margin: 0 0 20px;}
    .structured-automated-r p + p {margin-top: 10px;}
    .static-page p {line-height: 20px;font-size: 14px;}
    .structured-automated {margin: 0 0 50px;}
    .advance-alerts {margin: 0 0 50px;}
    .boxes-section {margin:0 auto 20px;}
    .data-security {margin:0 0 50px;}
    .transparency { margin:0 0 50px;}
    .support-identity {margin: 0 0 50px;}
    .support-identity-r {width: 45%;margin: 0 0 0 auto;}
    .support-identity .d-flex { align-items:end;}
    .transparency-bg {min-height: 240px;}
    .advance-alerts-bg {min-height: 270px;}
    .quick-link {width: 26%; padding: 0 0 0 40px;}
    .quick-link {width: 26%;padding: 0 0 0 40px;}
    .footer { padding:40px 0 0;}
    .copyright { padding:10px 15px; margin:30px 0 0;}
    .fotoer-logo {width: 25%; padding:0;}
    .app-header a.navbar-brand {position: absolute;top: 0;left: 23px;margin-left: 0;}
    .nav-link p{ font-size:14px !important;  display:inline-block !important;  vertical-align:top; line-height:35px; margin:0; text-overflow:ellipsis;
    box-shadow:0 0 black; white-space:nowrap; overflow:hidden; height:35px; width:250px; text-align:right;}
    .app-header .nav-item .nav-link > .img-avatar, 
    .app-header .nav-item .avatar.nav-link > img {margin: 0 10px 0 5px;  vertical-align: top;}

}
@media(max-width:767px){
    .header .container, .static-page .container { max-width:480px;}
    .header-bluepart-l h1 small, .header-bluepart-l h1 {font-size: 25px;}
    .static-page h2 small, .static-page h2 {font-size: 20px; margin-bottom:10px;}
    .login-signup span { padding:22px 2px 24px; line-height:24px;}
    .login-signup {max-width:180px;}
    header .d-flex {max-height: 50px; margin:15px 0 15px 30px;}
    .login-signup a {padding:15px 5px; font-size:15px;}
    .login-signup span {padding:12px 2px 14px;}
    .header-bluepart-l h1 { margin:0 0 15px;}
    .sign-up-form input{ width:100%;}
    .sign-up-form button{ margin-top:15px;}
    .header-bluepart-l h4 {line-height: 20px;font-size: 15px;}
    .header-bluepart-l h4 + h4 {margin-top:15px;}
    .header-bluepart-l {width: 100%;padding: 0 10px 20px;}
    .hirecommit-logo a img{ width:auto; max-width:160px;}
    header.header {padding: 35px 0 0;}
    .structured-automated-l {width: 100%;margin: 0 0 20px;}
    .structured-automated-r {width: 100%;padding: 0;}
    .advance-alerts-bg {min-height: inherit; padding:30px 15px; background-size: cover;}
    .boxes-section ul li { width: 100%; margin:0 0 15px; padding:20px;}
    .boxes-section ul {margin: 0;}
    .data-security .d-flex {flex-direction: column;}
    .data-security-l {width: 100%;text-align: left;padding: 0 0 15px;}
    .data-security-r {width: 100%;margin: 0;}
    .transparency-bg {min-height: inherit; padding:30px 15px;}
    .support-identity .d-flex{ flex-wrap:wrap;}
    .support-identity-l {width: 100%;padding: 0 0 20px;}
    .support-identity-r {width: 100%; margin:0;}
    .structured-automated {margin: 0 0 20px;}
    .advance-alerts {margin: 0 0 30px;}
    .boxes-section {margin:0 auto 10px;}
    .data-security {margin:0 0 30px;}
    .transparency { margin:0 0 30px;}
    .support-identity {margin: 0 0 30px;}
    /* .footer>.container>.d-flex{ flex-direction: column-reverse; justify-content: center; text-align: center;} */
    .footer>.container>.d-flex{ flex-wrap:wrap;align-items:end;    max-width: 300px; margin: 0 auto;}
    .copyright { margin: 25px 0 0; padding:10px 15px 0;}
    .boxes-section ul.four-box li{width:100%;}
    .candidate-employer {right: 0;max-width: 180px;top: -34px;}
    .candidate-employer a {font-size: 13px; letter-spacing: 0; margin:0 5px;}
    header.header {padding: 30px 0 0;}
    .candidate-employer a:hover:before,
    .candidate-employer a.active:before {top:23px;}
    .mobile-view{ display:block !important;}
    .static-page  h2.mobileview-none{ display:none;}
    .static-page p + p {margin-top:15px;}
    .boxes-section-div { position:relative;}
    .boxes-section-div span {display: block; margin:0; position:absolute; top:0; left:0; width:auto;}
    .boxes-section-div span img{max-height:44px;}
    .boxes-section-div h3 {margin: 0 0 15px;padding: 4px 0 0 61px;font-size: 16px;line-height: normal;height: 44px;display: flex;align-items: center;}
    li.monitor-alerts-li .boxes-section-div h3{ word-break:break-all; max-width:220px;}
    section.header-bluepart { padding:170px 0 15px;}
    .transparency-bg p br{ display:none;}
    .support-identity-l h2 small{ display:block; margin:0;}
    .advance-alerts-bg  h2{ max-width:296px;}
    .Inner-title {margin: -156px auto 40px; padding: 180px 0 0; height: 270px;}
    .Inner-title h2 {font-size:25px;}
    .privaypolicy-body h3 {font-size: 20px;}
    .privaypolicy-body ul li, .need-assistance p,
    .privaypolicy-body p {font-size: 13px; line-height: 20px;}
    .privaypolicy-body h3 small {font-size: 16px; margin:5px 0 0;}
    .privaypolicy-body + .privaypolicy-body {margin-top:15px; padding-top:15px;}
    .workspace {padding: 20px; position: relative; top: 0; right: 0; max-width: 100%; margin: 0 0 20px;}
    .header-bluepart-01 form,
    .new-signup.header-bluepart-01 form {padding: 20px; width: 94%;}
    .custome-checkbox{ display:flex;}
    .header-bluepart-01 {padding:50px 0;}
    .header-bluepart-01 { padding:20px 0 0;}
    .header-bluepart-01 h2 {font-size: 26px; margin: 0 0 30px;}
    .header-bluepart-01:before{ height:350px;}
    .header-bluepart-01.new-signup .bs-stepper-content {padding:0;}
    .recaptcha-div iframe{transform: scale(0.8); margin:0 0 0 -30px;}
    .recaptcha-div ngx-recaptcha2{max-width:280px;}
    .recaptcha-div div{ width: 100% !important; text-align: left; display: inline-block; vertical-align: top; max-width:280px;}
    /* .footer .d-flex {align-items: center;width: 100%;text-align: center;justify-content: center;} */
    .footer {padding:25px 0 10px;border-top: 2px solid #eaeaea;margin: 40px 0 0;}
    .fotoer-logo {width: 100%;padding: 0;text-align: center;margin: 0 0 30px;}
    .quick-link {width: 50%;padding: 0;text-align: left;}
    .footer-media {margin:15px 0 0; width: auto; text-align: left;}
    .footer-media h3,
    .quick-link h3 {display: block;font-size: 16px;text-transform: uppercase;color: #fff;margin: 0 0 10px;}
    .quick-link a {font-size: 13px;}
    .quick-link{ width:50%;}
    .quick-link + .quick-link{width: 142px;margin: 0 0 0 auto;}
    .footer-media {margin:0 0 0 auto;width: 142px;text-align: left;}
    .fotoer-logo img { max-width:180px;}

}    

@media(max-width:499px){
    .header-bluepart-l h1 strong {display: block;}
    .header-bluepart-l h1 br{ display:none;}
}
@media(max-width:399px){
    .hirecommit-logo a { width:76px; overflow:hidden; display:block; position:relative;}
    .hirecommit-logo a img{ width:auto; max-width:150px;}
    .hirecommit-logo a:before {content: '';width: 20px;height: 20px;background: #fff;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
    .header-bluepart-l h1 strong,
    .header-bluepart-l h1 small { font-size:22px;}
    .new-signup .btn {padding: 0.375rem 0.25rem;}
    .nav-link p{ width:158px;}
}
