// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
// datatable
.thumbnail  img {
    width: 80px;
    height: 60px;
}
.thumbnail .ui-lightbox img {
    width: 600px;
    height: 500px;
    // max-width: 400px;
    // max-height: 300px;
}
body{ font-weight:400; background-color:#f1f1f1;}
// input { border: 1px solid #eee; border-radius: 4px; padding: 5px 10px; line-height: 20px; color: #333; box-shadow: 0 0 0 0 rgba(0,0,0,.1); }
// table.dataTable thead th, table.dataTable tfoot th { background:rgba(32, 168, 216, .8); border: 0; font-weight: 500; padding: 13px 10px; color:#fff;}
// table.dataTable tbody td{ font-size:13px; padding:15px 10px; vertical-align: middle;}
// table.dataTable.no-footer {border: 2px solid #fff;box-shadow: 0 0 20px 0 rgba(0,0,0,.1); margin:20px 0;}
// table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {border-top: 0;}
// table.dataTable tbody tr:nth-child(2n+2) td{ background:#f9f8f8;}
// table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover{ background:#fff;}

// .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {color: #fff !important; border: 0; background: #20a8d8; border-radius: 400px; }
// .dataTables_wrapper .dataTables_paginate .paginate_button{ border-radius:200px;}
// .dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: white !important; border: 1px solid #20a8d8; background-color: #20a8d8; background: #20a8d8; }
// .card-body {padding:2rem;}
// .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {color:#666;}

// .btn-div a{background:#20a8d8; border-radius:400px; padding:6px 20px 5px; vertical-align:top;color: #fff;}
// .btn-div a:hover{ background:#2f353a; color:#fff;}
// .header-fixed .app-header {position: fixed;z-index: 1020;width: 100%;}

// .dataTables_length,
// .dataTables_filter{ margin:0 0 20px;}
// .dataTables_length label,
// .dataTables_filter label{ margin:0; color:#666;}
// .dataTables_filter label input{ padding:7px 10px;}
// .dataTables_length label select{ padding:6px 10px; border:1px solid #eee; min-width:100px; margin:0 5px;}

// .dataTables_empty {display: none;}
// .form-control{height: 38px !important;box-sizing: border-box;}
// .error {width: 100%;color: red;font-size: 13px;margin-top: 2px;position: absolute;}
// .input-group .error {top: 35px;}
.no-data-available{text-align: center;}
// .text-danger{color: red !important;}
// .switch {position: relative;display: inline-block;width: 50px;height: 24px;}
// .switch input {opacity: 0;width: 0;height: 0;}
// .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: 4s; transition: .4s;}
// .slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s; transition: .4s;}
// input:checked + .slider {background-color: #2196F3;}
// input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
// input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
// .app-header .navbar-toggler{display:none !important;}
.dataTables_filter input[type="search"]{ border: 1px solid #e4e7ea; padding: 6px 10px; border-radius: 0 0.25rem 0.25rem 0; font-size: 0.875rem; margin: 0; border-left: 0; line-height:22px; min-width:291px;}
.card-header{ margin-top:1px;}
.dataTables_empty{ display: none;}
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover{ background:#fff;}

table.dataTable.hover tbody tr:nth-of-type(odd):hover,
table.dataTable.display tbody tr:nth-of-type(odd):hover,
table.table.dataTable tbody tr:nth-of-type(odd) {background-color: rgba(0,0,0,.05);}
table.dataTable.no-footer {border-bottom: 1px solid #c8ced3;}

.table td, .table th { padding:.75rem; vertical-align:top; border-top:1px solid #c8ced3;}
table.dataTable tbody th, table.dataTable tbody td { padding: .75rem;}
table.dataTable thead th, table.dataTable thead td {vertical-align: bottom; border-bottom: 2px solid #c8ced3; padding:0.80rem 0.75rem;}
.dataTables_length label{display: inline-block;margin-bottom: 1rem;}
.dataTables_length label select{padding:7px 5px; border: 1px solid #e4e7ea; border-radius:4px;}
.dataTables_filter label {display: inline-block;margin-bottom: 1rem; font-size:0;;}
.dataTables_filter label:before{ content:"\f002"; display:inline-block; font-family:'FontAwesome';  align-items: center; padding: .375rem .75rem; margin-bottom: 0; font-size: .875rem; font-weight: 400; line-height:22px; color: #5c6873; text-align: center;white-space: nowrap;background-color: #f0f3f5;border: 1px solid #e4e7ea;border-radius:0.25rem 0 0 0.25rem; width:39px; vertical-align:top;}

.dataTables_wrapper .dataTables_paginate {padding: 0;border: 1px solid #c8ced3; border-radius:4px;}
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button{ border:0; margin:0;}
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button + a.paginate_button{ border-left:1px solid #c8ced3;}
.dataTables_paginate a:first-child{ border-radius:0 4px 4px ;}
.dataTables_paginate a:last-child{ border-radius:0 4px 4px 0;}
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button:hover,
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button.current{ z-index:1; color:#fff !important; background-color:#1b8eb7; border:0; background: #1b8eb7; border-radius: 0;}

.btn-div-wrap{ background-color:#20a8d8; border-radius:100px; display: inline-block; padding:5px 15px 4px; text-transform:uppercase; border:0;}
.btn-div-wrap i{ color:#fff; line-height:20px; display:inline-block; vertical-align:top; padding:0 4px 0 0;}
.btn-div-wrap strong{ font-weight:500; color: #fff; line-height:18px; display:inline-block; vertical-align:top;}
.btn-div-wrap:hover{ background:#1b8eb7;}
table.dataTable.no-footer {margin-bottom:20px;}

.form-control {display: block; width: 100%; height: calc(2.0625rem + 2px); padding: .375rem .75rem; font-size: .875rem; line-height: 1.5; color: #5c6873; background-color: #fff; background-clip: padding-box; border: 1px solid #e4e7ea; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
body .ui-dropdown{ border:0; }
body .ui-dropdown .ui-dropdown-label{border:1px solid #e4e7ea; height:34px;}
body .ui-dropdown .ui-dropdown-trigger{ background:transparent;}
body .candidate-signup .card-body .custome-checkbox label{padding: 0 0 0 5px; vertical-align:top;}
.form-group  label{ display:block;}
body .candidate-signup .card-body .ui-dropdown {border: 0;width: 100%;}
.error {color: red;text-align: left;position: relative;left: 0;bottom: 0;right: 0;display: flex;flex-direction: column;width: 100%;font-size: 12px;line-height: 14px;}
.input-group-prepend{ flex-wrap:wrap;}
.contact-number .input-group-prepend{ margin-left:5px;;}
body .custome-checkbox .ui-chkbox { vertical-align:top;}

.profiledata-info img.img-circle.img-thumbnail{ max-width:100px; margin:0 auto 10px; display:block;}
.profiledata-info h2{ display:block; margin: 0 0 5px; padding: 0; text-align: center; text-transform: uppercase; font-size: 1.4em;}
.profiledata-info label{ display:block;  margin:0 0 5px;}
.profiledata-info .card-header{ font-size:1.2em;}
.profiledata-info .table{ margin-bottom:0;}
.profiledata-info .table td,
.profiledata-info.table th {padding: 0.75rem; vertical-align: top; border-top: 0; }
.profiledata-info .table tr:nth-of-type(odd) {background-color:#f0f3f5;}

button + button{ margin-left:8px;}
body .ui-dialog .ui-dialog-footer{ text-align:center;}
body .ui-confirmdialog.ui-dialog .ui-dialog-content {padding: 20px 60px;}
body .ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon{position: absolute;top: 20px;left: 30px;}
.ui-button-icon-only .ui-button-icon-left, .ui-button-text-icon-left .ui-button-icon-left,
.ui-button-text-icon-right .ui-button-icon-right { line-height:20px;}
body .ui-button:enabled:focus {outline:0 none; outline-offset:0px; box-shadow:none;}

.country-code-box-wrap{ align-items:flex-start;}
.country-code-box-wrap i.icon-phone{ line-height:22px;}
.country-code-box-wrap .country-code>input{ width:60px;}

.country-code-box-wrap .d-flex{ width:calc(100% - 40px);}
.country-code-box-wrap .d-flex .country-code{ width:22%;flex: initial;}
.country-code-box-wrap .d-flex .contact-number{ width:calc(78% - 15px); margin:0 0 0 auto;flex: initial;}

.signup-box h4{ margin:0 0 15px; font-weight:600; text-align:left;font-size: 16px; color: #666;}
.signup-box .ui-dropdown{ width:100%;}
html .main .card.signup-box .card-body .bs-stepper .content .row.form-inner,
html .main .card.signup-box .card-body .bs-stepper .content .form-inner{ min-height:inherit !important; padding:40px 0 20px;}
.step-form-btn button{ padding:5px 30px; margin: 0 auto; display:block;}
.custom-margin{ margin:-4px 0;}

// detail page
.detail-box{
     .detail-panel{
        margin-bottom: 16px;
     }
     .detail-label {
        padding: 7px 15px;
    }
    .detail-input{
        padding: 6px 12px;
        border: 1px solid #e4e7ea;
    }
}


.table {

    // .form-control:disabled {
    //     background: #fff;
    // }

    .countrycode-input {
        width: 15%;
        margin: 0 20px 0 0;
    }
}


.lbl{font-weight: bold;}
.lbl_width{width: 25%};
.timeline_inner {position: relative;}
.timeline_inner:After {position: absolute;content: "";background: #d8e1ea;width: 1px;height: 100%;top: 0;left: 0;}
.dot {display: inline-block;width: 14px;height: 14px;border: 2px solid #fff;border-radius: 50%;position: absolute;left: -6px;top: 18px;z-index: 1;box-shadow: 0px 0px 10px 0px #dee8f4;background: #fff;}
.timeline_search, .year_show, .post_wrap {padding-left: 80px;position: relative;}
.search_wrapper input {box-shadow: 5px 5px 40px 5px #dee8f4;border: 0;height: 46px;width: 100%;padding: 0 15px;border-radius: 40px;color: #c0c5cb;}

.search_wrapper svg {fill: #dddfeb;width: 16px;height: 16px;position: absolute;right: 15px;top: 50%;transform: translateY(-50%);}
.search_wrapper {position: relative;display: flex;align-items: center;justify-content: center;}
.timeline_search {margin-bottom: 50px;}
.year_show span:after {position: absolute;content: " ";background: #dfe1e4;height: 1px;width: 100%;top: 50%;left: 0;z-index: -1;}
.year_show span {display: block;background: #f1f1f1;position: relative;left: 0;top: 0;-webkit-transform: translate(-50%, -50%);transform: none;padding: 0 40px;margin: 0 auto;text-align: center;z-index: 2;}
.year_show span b {background: #f1f1f1;position: relative;display: inline-block;padding: 0 30px;}
.year_show {margin-bottom: 50px;}
.ul_post {margin: 0;padding: 0;list-style: none;}
.text_span svg {width: 18px;height: 18px;fill: #dde1ed;margin-right: 15px;}
.ul_post li {padding: 20px;background: #fff;box-shadow: 5px 5px 40px 5px #e0e2e4;}
.text_span {color: #bbbdc9;font-size: 14px;display: flex;align-items: center;flex-wrap: wrap;}
.post_wrap {margin-bottom: 50px;}
.username_a {color: #333;
    // font-weight: 600;
    margin-right: 6px;}
.username_a .message span {font-weight: 600;}
.span_right {font-size: 13px;margin-left: auto;}
.ar_down svg {width: 16px;height: 16px;margin: 0 0 0 12px;fill: #999;}
.span_dropdown {padding-left: 60px;width: 100%;
    // display: none;
    margin-left: 0;margin-top: 12px;box-sizing: border-box;}
.span_dropdown .text_span {background: #f8f8f8;padding: 10px;}
.username_a:hover {color: #000;text-decoration: none;}
.post_wrap .dot {top: 24px;}
.green_dot {border: 2px solid #5ce88f;}
.blue_dot {border: 2px solid #007ad9;}
.full_black {background: #000;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);border: 2px solid #000;}
.red_dot {border: 2px solid #ff0146;}
.search_wrapper input:focus {outline: none;}

.form-group .ck.ck-content.ck-editor__editable {min-height: 200px;}
.card-header button i {margin-right: 5px;font-size: 16px;}
.card-header button {padding: 4px 20px;font-size: 16px;}
// table.dataTable tbody td button {margin: 0;}
.not_verified_block{
    text-align: center;
    padding: 100px 20px;
    i{
        font-size: 100px;
        color: red;
    }
}
.inline_input {display: flex;padding: 15px;background: #f4f4f4;margin: 10px 10px;flex-wrap: wrap;justify-content: flex-end;align-items: center;}
.inline_input p-calendar {margin-right: 15px;}
.error {margin: 0 !important;}
.inline_input h6 {margin: 0;}
.inline_input button {height: 100%;padding: 6px 10px;font-size: 14px;}
// .table.dataTable{overflow-x: auto; display: block; max-width:100%; min-width:100%;}
// .table.dataTable thead, .table.dataTable tbody,
.table.dataTable tfoot{ display:table; min-width: 100%;}
.communication-fills .no-gutters.row{ margin-bottom:10px;}
.communication-fills .no-gutters.row .col-md-6 + .col-md-6 label{ padding-left:15px;}
table.dataTable td:last-child{ white-space:nowrap;}

// center aligned bootstrap modal
// .modal-dialog {
    // position: absolute;
    // top: 50%;
    // width: 100%;
    // left: 50%;
    // transform: translate(-50%, -50%) !important;
// }

/***** color combination changes *****/
.sidebar {background: #162741;}
.sidebar .nav-link.active {background: #121f34;}
.dropdown-item.active, .dropdown-item:active{background: #121f34; color:#fff !important;}
.sidebar-minimized .sidebar .nav-link:hover,
.sidebar-minimized .sidebar .nav-item:hover > .nav-link,
.custom-control-input:checked ~ .custom-control-label::before,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight,
.sidebar .nav-link:hover{ background:#bf7a68;}
.custom-control-input:checked ~ .custom-control-label::before{ border-color:#bf7a68;}
.btn-primary {background-color: #bf7a68; border-color: #bf7a68;}
.btn-primary {background-color: #bf7a68; border-color: #bf7a68;}
body .ui-button { background-color: #bf7a68; border: 1px solid #bf7a68;}
body .ui-button:enabled:hover{    background-color: #121f34; border-color: #121f34;}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
.btn-primary:hover { background-color: #121f34; border-color: #121f34;}
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button:hover,
html body .card-body .dataTables_wrapper div.dataTables_paginate a.paginate_button.current { background-color:#162741; background:#162741;}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider,
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider { background-color: #bf7a68;}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:disabled {color: #fff; background-color: #bf7a68; border-color: #bf7a68;}
.show > .btn-primary.dropdown-toggle:focus {box-shadow: none;}
.overlay[_ngcontent-ltt-c1] > div[_ngcontent-ltt-c1]:not(.loading-text){ color: #bf7a68 !important;}
.blue_dot { border: 2px solid #bf7a68;}
.bg-primary {background-color: #bf7a68 !important;}
.card.bg-primary {border-color: #bf7a68;}
.active .bs-stepper-circle{    background-color: #bf7a68 !important;}
body .ui-chkbox .ui-chkbox-box.ui-state-active {border-color: #bf7a68; background-color: #bf7a68;}
.swal2-styled.swal2-confirm {background-color: #bf7a68 !important; border-left-color:#bf7a68 !important; border-right-color:#bf7a68 !important;}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{ background-color:#121f34 !important; border-left-color:#121f34 !important; border-right-color:#121f34 !important;}
.dstepper-block .input-group-text {max-height: 35px;}
.dataTables_wrapper {overflow-x: auto;}
.contact-number-field input{ width: 60px;}
.contact-number-field input + input{     width: calc(100% - 75px); margin: 0 0 0 auto;}
.append-week {display: flex;}
.append-week .input-group-append {padding: 0px;}
.btn-primary:focus, .btn-primary.focus {box-shadow: none;}
// .form-control:disabled, .form-control[readonly] {background-color: #ffffff;}
.form-control:focus {color: #5c6873;background-color: #fff;border-color: #e4e7ea;outline: 0;box-shadow: none;}
.ast{color: red; display: inline;}
.icon-size{ font-size: 20px;}
.close{color:#fff !important;outline: none;}
.instructions-popup-head.modal-header{background:#162741; color:#fff; border:0; border-radius:4px 4px 0 0; box-shadow:none;}
.instructions-popup-body.modal-body h5{color:#bf7a68; font-size:18px; text-transform:uppercase; letter-spacing:0; margin:0 0 10px;}
.instructions-popup-body.modal-body h6{ color:#666; font-size:14px; font-weight:400; line-height:20px;}
.instructions-popup-footer.modal-footer { justify-content:center;}
.instructions-popup .modal-dialog{height: calc(100% - 3.5rem); align-items: center; display: flex;}
.group-title-221>i{ line-height: 27px;}
.group-title-221>strong{ line-height: 24px; vertical-align: top; font-weight: 400;}
button:focus { outline: none;}
.number-countrycode { padding-left:70px; position:relative;}
.number-countrycode .countrycode-input{ width:60px; position:absolute; top:0; left:0;}
.number-countrycode .countryno-input{ width:100%;}

.add-offer-form-part{ margin-bottom:15px; border-bottom:1px solid #eee; padding:0 0 15px;}
.add-offer-form-part h3{ margin:0; padding:0; display:block; font-size:16px; line-height:normal;color:#bf7a68}
body .ui-radiobutton {line-height: 20px; vertical-align: top;}
html body .ui-radiobutton div.ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover,
html body .ui-radiobutton div.ui-radiobutton-box.ui-state-active:focus,
html body .ui-radiobutton div.ui-radiobutton-box.ui-state-active { border-color: #bf7a68; background-color: #bf7a68; box-shadow:none;}
.files-type {color: grey;font-size: 12px;margin: 4px 0 0;}
.files-type p{ margin:0; padding:0;}
.form-control-50{ width:50%;}
.logo-div-01{ display:block; text-align: left; margin:-30px 0 5px -15px;}
.logo-div-01 img{ max-width:170px;}
.bunch-list ul{ list-style:disc; margin:0; padding:0; background:#eee; padding:15px 20px 15px 40px;}
.bunch-list ul li + li {padding-top: 10px;}
.not_verified_block .alert.alert-danger{ display:inline-block; font-size: 24px; vertical-align:top;}
.not_verified_block i { font-size: 40px; color: red; vertical-align: middle; margin: 0 20px 0 0;}

.viewoffers-info strong{ font-weight:600; display:block; line-height:normal; margin:0 0 5px;}
.viewoffers-info p{ font-weight:400; display:block; color:#666;}
.viewoffers-info + .viewoffers-info {margin-top:15px; border-top:1px solid #eee; padding:15px 0 0;}
i.note-icon-close {color: black;}
.note-modal-footer {padding: 0px 30px 0px 0px !important; height: 50px !important; }
// .note-editor .note-frame{width: 680px !important;}
.note-editor.note-frame{padding-top: 10px;}
/***** Media start it *****/
@media(min-width:992px){
    .app-header .navbar-toggler{ display:none !important;}

}

@media(max-width:991px){
    .app-header.navbar button.navbar-toggler{ display:none !important;}
    .app-header.navbar button.navbar-toggler:first-child{ display:block !important;}
    .form-control-50{ width:100%;}
}

@media(max-width:767px){
    .communication-fills .no-gutters.row{ margin-bottom:0;}
    .communication-fills .no-gutters.row .col-md-6 + .col-md-6  label{ padding-left:0;}
    .dataTables_filter input[type=search] {min-width:179px;}
}



body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown{
    border: none !important;
  }